doctype html
html(lang='en')
  head
    title Pickador
    
    link(rel="apple-touch-icon", sizes="57x57", href="icon/apple-icon-57x57.png")
    link(rel="apple-touch-icon", sizes="72x72", href="icon/apple-icon-72x72.png")
    link(rel="apple-touch-icon", sizes="76x76", href="icon/apple-icon-76x76.png")
    link(rel="apple-touch-icon", sizes="114x114", href="icon/apple-icon-114x114.png")
    link(rel="apple-touch-icon", sizes="120x120", href="icon/apple-icon-120x120.png")
    link(rel="apple-touch-icon", sizes="144x144", href="icon/apple-icon-144x144.png")
    link(rel="apple-touch-icon", sizes="152x152", href="icon/apple-icon-152x152.png")
    link(rel="apple-touch-icon", sizes="180x180", href="icon/apple-icon-180x180.png")
    link(rel="icon", type="image/png", sizes="192x192", href="icon/android-icon-192x192.png")
    link(rel="icon", type="image/png", sizes="32x32", href="icon/android-icon-32x32.png")
    link(rel="icon", type="image/png", sizes="96x96", href="icon/android-icon-96x96.png")
    link(rel="icon", type="image/png", sizes="16x16", href="icon/android-icon-16x16.png")
    link(rel="manifest", href="icon/manifest.json")
    meta(ame="msapplication-TileColor", content="#434b5c")
    meta(name="msapplication-TileImage", content="icon/ms-icon-144x144.png")
    meta(name="theme-color", content="#434b5c")
    
    meta(charset="UTF-8")
    meta(name="author" content="Szymon Stypa")
    meta(name="description", content="Pickador, filtering your social media feeds")
    meta(name="viewport", content="initial-scale=1, maximum-scale=1, minimum-scale=1, target-densitydpi=device-dpi user-scalable=no")
    meta(name="keywords", content="Pickador, app, filter, social, media, appstore, connect, feeds, swipe")
    
    link(rel="stylesheet", href='css/lib/bootstrap.min.css')
    link(rel="stylesheet", href='css/lib/font-awesome.min.css')
    link(rel="stylesheet", type="text/css", href="//cdn.jsdelivr.net/jquery.slick/1.5.9/slick.css")
    link(rel="stylesheet", href='css/lib/animate.css')
    link(rel="stylesheet", href='css/style.css')
  body
  
    div.page-wrapper

      div.stars.rotating
      
      div.press-header
        div.head
          h1 Press Resources
          p Are you working on a Pickador story?
    
      div.press-content.animated.fadeInUp
        div.wrapper
          div.press-text
            h1 Press
            p Pickador solves the problem of information overload on Twitter. Pickador’s mission is simple; to engage everyday users to get more out of their Twitter feeds by adapting and  filtering the content to its users.
            p For all media inquiries contact<br>
              span.important-txt minna@pickadorapp.com
            p Need a high resolution version of the Pickador logo and other assets?<br>
              a(href="/resource.html").important-txt.textlink Browse our resource section<br><br>
            a(href="/").btn Main Page
        
    

  
    script(src='js/lib/jquery.min.js')
    script(src='js/lib/bootstrap.min.js')
    script(src='//cdn.jsdelivr.net/jquery.slick/1.5.9/slick.min.js')
    script(src='js/main.js')
