doctype html
html(lang='en')
  head
    title Pickador
    
    link(rel="apple-touch-icon", sizes="57x57", href="icon/apple-icon-57x57.png")
    link(rel="apple-touch-icon", sizes="72x72", href="icon/apple-icon-72x72.png")
    link(rel="apple-touch-icon", sizes="76x76", href="icon/apple-icon-76x76.png")
    link(rel="apple-touch-icon", sizes="114x114", href="icon/apple-icon-114x114.png")
    link(rel="apple-touch-icon", sizes="120x120", href="icon/apple-icon-120x120.png")
    link(rel="apple-touch-icon", sizes="144x144", href="icon/apple-icon-144x144.png")
    link(rel="apple-touch-icon", sizes="152x152", href="icon/apple-icon-152x152.png")
    link(rel="apple-touch-icon", sizes="180x180", href="icon/apple-icon-180x180.png")
    link(rel="icon", type="image/png", sizes="192x192", href="icon/android-icon-192x192.png")
    link(rel="icon", type="image/png", sizes="32x32", href="icon/android-icon-32x32.png")
    link(rel="icon", type="image/png", sizes="96x96", href="icon/android-icon-96x96.png")
    link(rel="icon", type="image/png", sizes="16x16", href="icon/android-icon-16x16.png")
    link(rel="manifest", href="icon/manifest.json")
    meta(ame="msapplication-TileColor", content="#434b5c")
    meta(name="msapplication-TileImage", content="icon/ms-icon-144x144.png")
    meta(name="theme-color", content="#434b5c")
    
    meta(charset="UTF-8")
    meta(name="author" content="Szymon Stypa")
    meta(name="description", content="Pickador, filtering your social media feeds")
    meta(name="viewport", content="initial-scale=1, maximum-scale=1, minimum-scale=1, target-densitydpi=device-dpi user-scalable=no")
    meta(name="keywords", content="Pickador, app, filter, social, media, appstore, connect, feeds, swipe")
    
    link(rel="stylesheet", href='css/lib/bootstrap.min.css')
    link(rel="stylesheet", href='css/lib/font-awesome.min.css')
    link(rel="stylesheet", type="text/css", href="//cdn.jsdelivr.net/jquery.slick/1.5.9/slick.css")
    link(rel="stylesheet", href='css/lib/animate.css')
    link(rel="stylesheet", href='css/style.css')
  body
  
    div.page-wrapper

      div.stars.rotating
      
      div.press-header
        div.head
          h1 Branding resources
          p Pickador logo and branding assets
    
      div.press-content.animated.fadeInUp
        div.wrapper
          div.press-text
            h1 Logo
            div.imgbox
              div.logo
                a(href="img/logo1.png", target="_blank")
                  img(src="img/logo1.png")
                p 1000x356
              div.logo
                a(href="img/logo2.png", target="_blank")
                  img(src="img/logo2.png")
                p 1000x356
              div.logo
                a(href="img/logo3.png", target="_blank")
                  img(src="img/logo3.png")
                p 1000x356
            h1 Icon
            div.imgbox
              div.icon
                a(href="img/icon1.png", target="_blank")
                  img(src="img/icon1.png")
                p 356x356
              div.icon
                a(href="img/icon2.png", target="_blank")
                  img(src="img/icon2.png")
                p 356x356
              div.icon
                a(href="img/icon3.png", target="_blank")
                  img(src="img/icon3.png")
                p 1024x1024
            
            h1 Color
            div.imgbox
              div.color
                img(src="img/color/1.png")
                p #b82025<br>184, 32, 37
              div.color
                img(src="img/color/2.png")
                p #ef4b49<br>239, 75, 73
              div.color
                img(src="img/color/3.png")
                p #eab7a7<br>234, 183, 167
              div.color
                img(src="img/color/4.png")
                p #f1dfdf<br>241, 223, 223
              div.color
                img(src="img/color/5.png")
                p #434b5c<br>67, 75, 92
              div.color
                img(src="img/color/6.png")
                p #4e8795<br>78, 135, 149
              div.color
                img(src="img/color/7.png")
                p #94afb9<br>148, 175, 185
              div.color
                img(src="img/color/8.png")
                p #74ccd5<br>116, 204, 213
              div.color
                img(src="img/color/9.png")
                p #dc8633<br>220, 134, 51
              div.color
                img(src="img/color/10.png")
                p #fcb94e<br>252, 185, 78
              div.color
                img(src="img/color/11.png")
                p #f5d693<br>245, 214, 147
              div.color
                img(src="img/color/12.png")
                p #f9ecc8<br>249, 236, 200
                
            h1 PDF
            div.imgbox
              div.icon
                a(href="pdf/press1.pdf", target="_blank")
                  img(src="img/press1.png")
                p Presskit
              div.icon
                a(href="pdf/press2.pdf", target="_blank")
                  img(src="img/press2.png")
                p Meddelande
              div.icon
                a(href="pdf/press3.pdf", target="_blank")
                  img(src="img/press3.png")
                p Release
                
            h1 Team
            div.imgbox
              div.teamimg
                a(href="img/team.jpg", target="_blank")
                  img(src="img/team.jpg")
                p 3456x2304
            a(href="/").btn Main Page
    

  
    script(src='js/lib/jquery.min.js')
    script(src='js/lib/bootstrap.min.js')
    script(src='//cdn.jsdelivr.net/jquery.slick/1.5.9/slick.min.js')
    script(src='js/main.js')
